.App {
  text-align: center;
}

.output-text-box {
    background-color: #F7F7F8;
    border: 0.5px solid #ccc;
    padding: 10px;
}

.input-text-box {
    background-color: white;
    border: 0.5px solid #ccc;
    padding: 10px;
}
  
.text {
    color: #333;
    font-size: 14px;
    line-height: 1.4;
    width: 50%;
    position: relative;
    left: 25%;
}
